<div class="card m-2" style="width: 400px;">
  <div class="card-body">
    <h3 class="card-title">
      {{ firstname }}
      {{ lastname }}
    </h3>
    <div class="card-text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus
      repellendus quas doloremque labore iste hic est officiis saepe dolor animi
      incidunt minus reprehenderit quis, commodi eum quos odit doloribus
      quisquam.
    </div>
    <div class="card-footer">Klasa: {{ klasa }}</div>
  </div>
</div>
