/* You can add global styles to this file, and also import other style files */
.info{
    color: green;
    font-weight: bold;
}
ul{
    list-style: none;
    padding: 20px;
   
}
li{
    margin-left: 20px;
}