
.container{
    border: solid 1px grey;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
}
.upper{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    font-size: 1.2rem;
}
input{
    margin-bottom: 20px;
    width: 200px;
}
button{
    margin-bottom: 20px;
    width: 200px;
    padding: 5px;
}